<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Dojo Survey</title>
</head>
<body class="fs-6 d-flex justify-content-center">


@{
@model dojoSurvey.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<div class="nes-container is-rounded d-flex justify-content-center mw-50 mt-5">
    <form action="/submitsurvey"  method="post" class="form-group">
        <div class="nes-field is-inline m-2">
            <label asp-for="Name">Your Name :</label>
            <div class="col">
                <input asp-for="Name" class="nes-input h-25 mw-100">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
            <div class="nes-field is-inline">
                <label asp-for="Location">Dojo Location :</label>
                <div class="col nes-select">
                    <select asp-for="Location" class="nes-input h-25 mw-100">
                        <option value="San Jose, CA">San Jose, CA</option>
                        <option value="Chicago, IL">Chicago, IL</option>
                        <option value="Nashville, TN">Nashville, TN</option>
                        <option value="New York City, NY">New York City, NY</option>
                    </select>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <div class="nes-field is-inline">
                <label asp-for="Language">Favorite Language:</label>
                <div class="col nes-select">
                    <select asp-for="Language" class="nes-input h-25 mw-100">
                        <option value="C#">C#</option>
                        <option value="Python">Python</option>
                        <option value="Javascript">Javascript</option>
                    </select>
                    <span asp-validation-for="Language" class="text-danger"></span>
                </div>
            </div>
            <div class="nes-field mb-5">
                <label asp-for="Comment">Comment (optional) :</label>
                <textarea asp-for="Comment" cols="30" rows="10" class="nes-textarea"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <input type="submit" class="nes-btn is-warning" value="Submit">
    </form>


</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

